* text=auto !eol
cms/pom.xml -text
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/CommentItem.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/CommentPersistenceManager.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/CommentingContext.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/CommentingException.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/SerializableCallable.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/DefaultDocumentCommentingEditorDialog.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/DefaultDocumentCommentingFieldPlugin.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/DefaultJcrCommentPersistenceManager.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/PluginConstants.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/SimpleListDataProvider.java -text svneol=unset#text/plain
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DefaultDocumentCommentingEditorDialog.css -text
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DefaultDocumentCommentingEditorDialog.html -text svneol=unset#text/plain
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DefaultDocumentCommentingFieldPlugin.css -text
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DefaultDocumentCommentingFieldPlugin.html -text svneol=unset#text/plain
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DefaultDocumentCommentingFieldPlugin.properties -text svneol=unset#text/plain
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/add-small-16.png -text
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/delete-small-16.png -text
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/edit-small-16.png -text
cms/src/test/java/org/onehippo/forge/document/commenting/cms/api/CommentItemTest.java -text
/pom.xml -text
repository/pom.xml -text
repository/src/main/resources/doccommentdata.xml -text
repository/src/main/resources/doccommenting.cnd -text
repository/src/main/resources/hippoecm-extension.xml -text svneol=unset#text/plain
src/site/resources/images/comment-screen1.png -text
src/site/resources/images/comment-screen2.png -text
src/site/resources/images/comment-screen3.png -text
src/site/site.xml -text svneol=unset#text/plain
src/site/xdoc/dev-howto.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text svneol=unset#text/plain
src/site/xdoc/install.xml -text svneol=unset#text/plain
src/site/xdoc/jcr-comment-persistence-manager.xml -text
src/site/xdoc/release-notes.xml -text svneol=unset#text/plain
