* text=auto !eol
cms/pom.xml -text
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/CommentItem.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/CommentPersistenceManager.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/CommentingContext.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/api/CommentingException.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/DocumentCommentingEditorDialog.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/DocumentCommentingFieldPlugin.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/JcrCommentPersistenceManager.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/PluginConstants.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/document/commenting/cms/impl/SimpleListDataProvider.java -text svneol=unset#text/plain
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DocumentCommentingEditorDialog.css -text
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DocumentCommentingEditorDialog.html -text svneol=unset#text/plain
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DocumentCommentingFieldPlugin.css -text
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DocumentCommentingFieldPlugin.html -text svneol=unset#text/plain
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/DocumentCommentingFieldPlugin.properties -text svneol=unset#text/plain
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/add-small-16.png -text
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/delete-small-16.png -text
cms/src/main/resources/org/onehippo/forge/document/commenting/cms/impl/edit-small-16.png -text
/pom.xml -text
repository/pom.xml -text
repository/src/main/resources/doccommenting.cnd -text
repository/src/main/resources/hippoecm-extension.xml -text svneol=unset#text/plain
src/site/site.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text svneol=unset#text/plain
src/site/xdoc/release-notes.xml -text svneol=unset#text/plain
